@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #f6f7fb;
    height: 100vh;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo-nav {
    font-size: 60px;
    color: var(--blue--next);
}

:root {
    --green--right: green;
    --red--wrong: red;
    --blue--next: #4d58c0;
    --dark-blue-bg: #19233e;
}

.button {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    transition: 0.3s;
    color: white;
    margin: 0 5px;
}

.btn-group {
    display: flex;
    margin: 20px 0 0 auto;
}

.blue_button {
    background: var(--blue--next);
}

.gr_button {
    background: var(--green--right);
}

.gr_button:hover {
    background: darkgreen;
}

.blue_button:hover {
    background: #6d75c4;
}

.auth_card_wrapper {
        background-color: #F0F2F5; /* Цвет фона формы */
        padding: 20px; /* Добавление внутреннего отступа */
        text-align: center; /* Выравнивание по центру */
    height: 100vh;
    }

    .auth_card {
        background-color: #FFFFFF; /* Цвет фона блока с формой */
        padding: 20px; /* Добавление внутреннего отступа */
        border-radius: 10px; /* Закругление углов блока */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень блока */
        max-width: 400px; /* Максимальная ширина блока */
        margin: 0 auto; /* Центрирование блока */
    }

    .auth_card h1 {
        color: #1877F2; /* Цвет заголовка формы, похожий на Facebook */
    }

    .auth_card form {
        margin-top: 20px; /* Отступ сверху для формы */
    }
    .auth_card form li{
        color: darkgrey;
    }

    .auth_card button {
        background-color: #1877F2; /* Цвет кнопки, похожий на Facebook */
        color: #FFFFFF; /* Цвет текста на кнопке */
        padding: 10px 20px; /* Поля вокруг текста на кнопке */
        border: none; /* Убираем границу у кнопки */
        border-radius: 5px; /* Закругление углов кнопки */
        cursor: pointer; /* Изменение формы указателя при наведении на кнопку */
        font-weight: bold; /* Жирный текст на кнопке */
    }

    .auth_card button:hover {
        background-color: #135492; /* Цвет кнопки при наведении */
    }

    .auth_card a {
        color: #1877F2; /* Цвет текста ссылки, похожий на Facebook */
        text-decoration: none; /* Убираем подчеркивание у ссылки */
        font-weight: bold; /* Жирный текст ссылки */
    }

    .auth_card a:hover {
        text-decoration: underline; /* Подчеркивание ссылки при наведении */
    }