{% load static %}
<!doctype html>
<html lang="`en`">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="container">
    <nav class="nav-wrapper">
        <div class="logo-nav">
            {#                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuL4RUA2C9N2ifsDhUc4nOLkRIoICzlPlgxfKYd2A&s" alt="">#}
            <span>WWR</span>
        </div>
        <div class="right-nav-inner">
            <a class=" profile-btn button blue_button" href="/accounts/signin">
                Sign in
            </a>
        </div>
    </nav>
    <div class="main">
        <div class="rating">
            <h3>Here will be the rating of users</h3>
        </div>
        <div class="tests">
            <a href="{% url 'questions' level='easy' id=1 %}" class="card button blue_button"><p>Easy level</p></a>
            <a href="{% url 'questions' level='medium' id=1 %}" class="card button blue_button"><p>Medium level</p></a>
            <a href="{% url 'questions' level='hard' id=1 %}" class="card button blue_button"><p>Hard level</p></a>
        </div>
    </div>
</div>
</body>
</html>