{% load static %}
{% include 'header.html' %}
<div class="container">
    <div class="main">
        <div class="rating">
            <table>
                <caption>RATING</caption>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% if ranked_profiles %}
                        {% for rank, profile in ranked_profiles %}
                            <tr>
                                <td>{{ rank }}</td>
                                <td>{{ profile.user.username }}</td>
                                <td>{{ profile.balance }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">Didn't find users</td>
                        </tr>
                    {% endif %}
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td>Your Ranking</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{{ cuser_rank }}</td>
                        <td>{{ cuser_profile.user.username }}</td>
                        <td>{{ cuser_profile.balance }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="tests">
            <a href="{% url 'questions' level='easy' id=1 %}" class="card button blue_button"><p>Easy level</p></a>
            <a href="{% url 'questions' level='medium' id=1 %}" class="card button blue_button"><p>Medium level</p></a>
            <a href="{% url 'questions' level='hard' id=1 %}" class="card button blue_button"><p>Hard level</p></a>
        </div>
    </div>
</div>
</body>
</html>