{% load static %}
{% include 'header.html' %}
<div class="container">
    <div class="main">
        <div class="rating">
            <table>
                <caption>RATING</caption>
                <tr>
                    <td>
                        <p>1 - Imanbek: 10000000$</p>
                    </td>
                </tr>
                <tr>
                    <td>2 - Vlad: 10000$</td>
                </tr>
                <tr>
                    <td>3 - Tomas Edison: 1000$</td>
                </tr>
                <tr>
                    <td>4 - Lesha: 500$</td>
                </tr>
                <tr>
                    <td>5 - Nuraaly: 400$</td>
                </tr>
            </table>
        </div>
        <div class="tests">
            <a href="{% url 'questions' level='easy' id=1 %}" class="card button blue_button"><p>Easy level</p></a>
            <a href="{% url 'questions' level='medium' id=1 %}" class="card button blue_button"><p>Medium level</p></a>
            <a href="{% url 'questions' level='hard' id=1 %}" class="card button blue_button"><p>Hard level</p></a>
        </div>
    </div>
</div>
</body>
</html>