{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
{% if wrong_answer %}
    <div class="modal">
        <div class="modal-content">
            <p>К сожалению, вы проиграли на {{ id }} вопросе с суммой ...</p>
            <div class="btn-group">
                <button class="button blue_button"><a href="{% url 'main' %}">На главную</a></button>
                <button class="button gr_button"><a href="{% url 'questions' level=level id=1 %}">Попробовать еще раз</a></button>
            </div>
        </div>
    </div>
{% endif %}
{% if finish_game %}
    <div class="modal">
        <div class="modal-content">
            <p>Поздравляю! Вы выйграли на {{ id }} вопросе и заработали ... $</p>
            <div class="btn-group">
                <button class="button blue_button"><a href="{% url 'main' %}">На главную</a></button>
            </div>
        </div>
    </div>
{% endif %}
{% if not wrong_answer and not finish_game %}
<form method="POST">
    {% csrf_token %}
    <div class="container test" style="text-align: center; margin-top: 30px;">
        <h1 style="font-size: 14px; color: #ccc;">Question number {{ id }}</h1>
        <h2 class="question">Question - {{ test.question }}</h2>
        <div class="answers">
            {% for answer in test.answers %}
                <button class="answer-button" type="submit" name="selected_test"
                        value="{{ answer }}|{{ test.correct_answer }}">
                    <strong>{{ forloop.counter0|add:1 }}. {{ answer }}</strong>
                </button>
            {% endfor %}
        </div>
        <button class="button gr_button" style="font-size: 20px" type="submit" name="finish_game" value="True">Забрать банк</button>
    </div>
</form>
{% endif %}
</body>
</html>